@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    

}

body {
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse {
    display: none;
}

h1 {
    display: flex;
    justify-content: center;

}

.disabled {
    background-color: rgb(100, 94, 94);
}

button {
    background-color: rgb(113, 127, 202);
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    
}

.monster {
    position: relative;
}

span {
    font-size: 16px;

}

.health-monster, .health-efstafiy {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    justify-content: space-between;
}

.damage {
    top: -200px;
    opacity: 100%;
    width: 100%;
    position: absolute;
    font-size: 25px;
    color: red;
    

}

.animation {
    animation-name: takeDamage;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes takeDamage {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 110%;
    }

}

.move {
    position: absolute;
    bottom: 200px;
    left: 45%;
    font-size: 25px;
    font-weight: 700;

}

.move2 {
    position: absolute;
    bottom: 150px;
    left: 45%;
    font-size: 25px;
    font-weight: 700;

}